<h1>Dashboard</h1>

<% if current_user.is_admin? %>
	<%= render :partial => 'admin_dashboard' %>
<% elsif current_user.is_faculty? %>
	<%= render :partial => 'faculty_dashboard' %>
<% elsif current_user.is_student? %>
	<%= render :partial => 'student_dashboard' %>
<% end %>