<% content_for :sidebar do %>
	<h2>Students At-Risk</h2>
	<ul>
		<li><%= link_to "Monitor Students At-Risk", monitor_at_risk_events_path %></li>
		<li><%= link_to "Notifications and Responses", at_risk_events_path %></li>
	</ul>
<% end %>