<% content_for :sidebar do %>
	<h2>Students At-Risk</h2>
	<ul>
		<li><%= link_to "Notification Responses", at_risk_events_path %></li>
		<li><%= link_to "Send Notifications", monitor_at_risk_events_path %></li>
	</ul>
<% end %>