html { font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; font-size: 12px; }
body { margin: 0; padding: 0; }

.section { float: left; clear: both; width: 100%; }

table { width: 100%; border-spacing: 0; }

a { color: #00C; }

#legal { text-align: right; }

#header, #nav { background: #333; color: #fff; }

#branding h1 { font-size: 32px; font-weight: bold; font-style: italic; margin: 0; }
#branding p { margin: 0; }
#branding { margin: 20px 0px; }

#main { border-top: 4px solid #fc0; background: #eee; padding: 12px 0px 30px; }
#main .wrap { margin-top: 12px; }
#primary { background: #fff;}
#primary .padding { padding: 0px 20px; margin-bottom: 15px;}
#secondary { background: #fff;}
#secondary .padding { padding: 0px 15px; margin-bottom: 15px;}
.navitem { background: #c00; float: left; width: 100%; }
.navitem a { color: #fff; float: left; padding: 5px 8px; text-decoration: underline; }
#nav .current { background: #fc0; }
#nav .current a { color: #c00; text-decoration: none; }

#userbox { text-align: center; background: #c00; color: #fff; }
#userbox p { margin: 5px 0px; }
#userbox a { color: #fc0; text-decoration: underline; }

#flash .notice { border: 2px solid green; background: #3c3; color: #fff; padding: 5px 8px; text-align: center; }
#flash .alert { border: 2px solid #c00; background: #d22; color: #fff; padding: 5px 8px; text-align: center; }
#flash .notice { }
body #main div#flash { margin: 0 auto; }


#footer { margin-top: 20px; }
#footer .wrap { border-top: 2px solid #c00; padding-top: 10px; }


label { display: block; font-weight: bold; margin: 0 0 5px 0; }
strong { font-weight: bold; }
em { font-style: italic; }

dl { margin: 14px 0 20px 0; }
dt { font-weight: bold; }
dd { font-size: 18px; margin: 0.25em 0 1em 0; }
dd p { }

ul { padding: 0;}
ul li { margin-left: 15px; list-style-position: inside; list-style-type: square; }

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 25px;
}

.field br { display: none; }

.field_with_errors label { margin: 0px 0px 0px 0px; }


button.button, a.button, input[type=submit].button, .actions input[type=submit] {
padding: 6px 10px;
-webkit-border-radius: 2px 2px;
border: solid 1px rgb(153, 153, 153);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
color: #333;
text-decoration: none;
cursor: pointer;
display: inline-block;
text-align: center;
text-shadow: 0px 1px 1px rgba(255,255,255,1);
line-height: 1;
}

.separator td { border-top: 1px solid #eee; padding: 5px 0px; }
td.actions {text-align: right;}

.trb { float: right; }

#secondary h2 { border-bottom: 2px solid #fc0;}

span.attended { color: green; }
span.not_attended { color: red; }

.note span {font-weight: bold; }
.note { border-left: 4px solid #fc0; }
.note-content p { background: #fc0; padding: 10px 10px; margin-bottom: 5px; font-size: 16px; }
.note-information { padding-left: 10px;}