<div class="trb">
	<%= link_to 'Cancel', unit_activities_path(@unit), :class => :button %>
</div>

<h1>New activity for <%= @unit.code %></h1>

<%= render 'form' %>

<%= render :partial => 'units/sidebar' %>