<p id="notice"><%= notice %></p>

<p>
  <b>Enrollment:</b>
  <%= @performance.enrollment_id %>
</p>

<p>
  <b>Assessment:</b>
  <%= @performance.assessment_id %>
</p>

<p>
  <b>Achieved mark:</b>
  <%= @performance.achieved_mark %>
</p>


<%# link_to 'Edit', edit_performance_path(@performance) %> |
<%# link_to 'Back', performances_path %>
